

.contact {
    padding: 25px 0px 30px 0px;
    background-color: #f2f6fd;
    scroll-behavior: smooth;

    .title-group {
        display: flex;
        justify-content: center;
        // margin-bottom: 15px;

        .content-wrapper {
            .section-title {
                margin: 0px;
                font-size: 25px;
                font-weight: 600;
                color: black; 
            }
        
            .title-border {
                width: 70px;
                border: solid 2px #0a3b7c;
                margin-bottom: 10px;
            }
        }     
    }

    .contact-wrapper {
        display: flex;
        padding: 0px 100px;

        .contact-address {
            width: 100%;
            max-width: 50%; 
            display: flex;
            justify-content: center;


            .address-group {
                .linked-link:before{
                    content: "\f0e1";
                    border: 4px solid #40526b;
                    border-radius: 5px;
                    padding: 3px;
                    background-color: #40526b;
                    margin-right: 5px;
                    margin-left: 5px;
                }

                .address-label {
                    margin: 0px;
                    font-size: 20px;
                    line-height: 30px;
                    color: #05294b;
                    font-weight: 500;
                }
                .address-text {
                    margin: 0px;
                    font-size: 16px;
                    line-height: 23px;
                    color: #5A6D7E;
                }

                .email-label {
                    margin: 0px;
                    font-size: 20px;
                    line-height: 30px;
                    color: #05294b;
                    font-weight: 500;
                    margin-top: 15px;
                }
                .email-text {
                    margin: 0px;
                    font-size: 16px;
                    line-height: 23px;
                    color: #5A6D7E;
                }

                .contact-btn-group {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5px;
                }
                
                .bh-group {
                    margin-left: 15px;
                }

                .bt-title {
                    padding-top: 30px;
                }

                .bh-text {
                    padding-bottom: 8px;
                }

                .bh-text-info {
                    margin: 0px;
                    font-size: 15px;
                    line-height: 25px;
                    color: #5A6D7E;
                }
            }
        }

        .contact-info {
            width: 100%;
            max-width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .btn-contact {
                width: 100%;
                margin-right: 10px;
                // max-width: 300px;
                font-size: 14px;
                text-transform: uppercase;
                color: #fff;
                background-color: #40526b;
                border-color: #0a3b7c;
                margin-bottom: 10px;

                .fa {
                    margin-right: 10px;
                }

                &:hover {
                    background-color: #40526b;
                    color: #ffffff;
                }
            }
        }
    }

    .policy-wrapper {
        // margin-top: 50px;
        margin-bottom: 40px;
        text-align: center;

        .policy-text {
            margin-bottom: 0px;
            font-size: 16px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .contact {
        .contact-wrapper {
            padding: 0px 0px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .contact {
        .contact-wrapper {
            padding: 0px 0px;
            flex-direction: column;

            .contact-address {
                max-width: 90%;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 30px;

                .address-group {
                    .address-text {
                        font-size: 16px;
                    }
                }
            }

            .contact-info {
                align-items: center;
                max-width: 100%;

                .btn-contact {
                    max-width: 200px;
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .contact {
        .contact-wrapper {
            padding: 0px 0px;
            flex-direction: column;

            .contact-address {
                max-width: 100%;
                margin-bottom: 30px;
                padding: 0 30px;
                
                .address-group {
                    // width: 100%;
                    // max-width: 400px;

                    .address-text {
                        font-size: 16px;
                    }

                    .contact-btn-group {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;
                        flex-direction: column;
                    }
                }
            }

            .contact-info {
                align-items: center;
                max-width: 100%;

                .btn-contact {
                    max-width: 300px;
                    font-size: 16px;
                }
            }
        }

        .policy-wrapper {
            margin-top: 0px;
            margin-bottom: 50px;
            text-align: center;
    
            .policy-text {
                margin-bottom: 0px;
                font-size: 14px;
            }
        }
    }
}
