.items {
    background-color: #f2f6fd;
    padding: 50px 0px;

    .section-title {
        margin: 0px;
        font-size: 35px;
        font-weight: 600;
        color: black;
        text-align: center;
    }

    .section-subtitle {
        font-size: 18px;
        color: black;
        margin: 0px;
        width: 100%;
        max-width: 70%;
        text-align: center;
        line-height: 25px;
        margin: 0 auto;
    }

    .items-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 30px;

        .item-holder {
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            width: 100%;
            max-width: 250px;
            height: 375px;

            .image-holder {
                .image-background {
                    background-color: #6495ed5c;
                    border-radius: 40px;
                    width: 150px;
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;

                    .src-img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .title-holder {
                margin: 0px;
                font-size: 20px;
                line-height: 30px;
                color: #05294b;
                font-weight: 500;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .description-holder {
                margin: 0px;
                width: 100%;
                font-size: 16px;
                line-height: 22px;
                color: #3c3c3c;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .items {
        .items-wrapper {
            flex-wrap: wrap;

            .item-holder {
                width: 40%;
                max-width: 40%;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .items {
        .items-wrapper {
            flex-wrap: wrap;

            .item-holder {
                width: 40%;
                max-width: 40%;
                height: 400px;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .items {
        .items-wrapper {
            flex-wrap: wrap;

            .item-holder {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
    }
}